.main-box
  %ul.menu
    jQuery一覧
    %li
      %p.color 
        .color-box
          = link_to "fontの色を変更する", "/introduction/color"
    %li
      %p.size
        .size-box
          = link_to "fontのサイズを変更する", "/introduction/size"
    %li
      %p.hide
        .hide-box
          = link_to "文字を隠す", "/introduction/hide"