.main-box
  %h1 fontの色を変更
  %p.codepen{"data-default-tab" => "html,result", "data-height" => "265", "data-pen-title" => "xxGPxXR", "data-preview" => "true", "data-slug-hash" => "xxGPxXR", "data-theme-id" => "dark", "data-user" => "isso33", :style => "height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"}
  %span
    %a{:href => "https://codepen.io/isso33/pen/xxGPxXR"}
    %a{:href => "https://codepen.io/isso33"}
    = succeed "" do
      %a{:href => "https://codepen.io"}
  %script{:async => "", :src => "https://static.codepen.io/assets/embed/ei.js"}
