.block {
  height: 600px;
  width: 1300px;
  background-color: white;
  background-color: rgba(88, 88, 88, 0.5);
  background-blend-mode: lighten;
  margin: 50px auto;

  .write {
    color: white;
    font-size: large;

    p {
      text-indent: 1em;
    }
  }
}